In [3]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [9]:
df = pd.read_excel('./测试数据.xlsx')
df.drop(labels=['none','none1'], axis=1, inplace=True)

In [30]:
# 删除空所对应的行
df[df.notnull().all(axis=1)]

                    time     1     2     3     4     5     6     7
1    2019-01-27 17:01:00 -23.5 -18.8 -20.5 -19.8 -15.2 -14.5 -16.0
4    2019-01-27 17:04:00 -23.2 -18.5 -20.0 -18.8 -10.2 -10.8  -8.8
7    2019-01-27 17:07:00 -24.8 -18.0 -17.5 -17.2 -14.2 -14.0 -12.5
10   2019-01-27 17:10:00 -24.5 -18.5 -16.0 -18.5 -17.5 -16.5 -17.2
15   2019-01-27 17:15:00 -23.5 -17.8 -15.0 -18.0  10.5  10.5  10.8
...                  ...   ...   ...   ...   ...   ...   ...   ...
1051 2019-01-28 10:31:00 -24.0 -24.8 -27.8 -25.5  -2.0  -2.0  -5.8
1052 2019-01-28 10:32:00 -24.2 -25.5 -28.0 -26.0  -2.0  -2.0  -5.5
1053 2019-01-28 10:33:00 -25.0 -26.2 -28.2 -26.8  -2.0  -2.0  -5.2
1054 2019-01-28 10:34:00 -25.8 -26.8 -28.5 -27.0  -2.0  -2.2  -5.2
1058 2019-01-28 10:38:00 -27.5 -27.0 -29.0 -28.0  -3.5  -3.2  -5.8

[927 rows x 8 columns]

In [34]:
# 覆盖空值
df = df.fillna(method='ffill', axis=0).fillna(method='bfill', axis=0)

In [37]:
# 检测df 列中是否含有空
df.isnull().any(axis=0)
df.notnull().all(axis=0)

time    True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
dtype: bool